@charset "utf-8";
.description {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.album-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;  /* 카드 높이를 일정하게 설정 */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}

.album-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.album-card-body {
    flex-grow: 1;  /* 카드 내용이 부족할 때, 빈 공간을 채우도록 설정 */
}
